@keyframes border-dots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 8px 0;
  }
}

nav {
  position: relative;
  overflow: hidden;
}

nav:before,
nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    currentColor 50%,
    transparent 50%
  );
  background-size: 8px 1px;
  animation: border-dots 1s linear infinite;
}

nav:before {
  top: 0;
}

nav:after {
  bottom: 0;
}
